body{
  margin: 0;
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, #f0fbfc, #ffffff);
  color: #000000;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 3em;
  color: #000000;
  margin-bottom: 10px;
}

.mensagem-fixa{
  font-size: 1.3em;
  font-weight: 600;
  color: #555;
  margin-bottom: 30px;
}

form{
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
  max-width: 400px;
  width: 100%;
  margin-bottom: 30px;
}

label{
  display: block;
  font-size: 1em;
  color: #000000;
  margin-bottom: 10px;
}

input{
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

input:focus{
  border-color: #000000;
  outline: none;
}

button{
  padding: 12px 20px;
  margin-top: 15px;
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover{
  background-color: #000000;
  transform: translateY(-2px);
}

#humor-registrado,
#mensagem-motivacional{
  margin-top: 20px;
  font-size: 1.1em;
  color: #444;
  max-width: 500px;
}

